# dependencies
node_modules/

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.*

# editors/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# coverage and caches
coverage/
.cache/
.tmp/

# builds (if you add them later)
dist/
build/

# runtime app data
access.json


